{% extends 'base/base.html' %}
{% load static %}

{% block title %}Регистрация в Цифровую Школу «DS»{% endblock title %}

{% block content %}
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
				<form>
					<div class="crs_log_wrap">
						<div class="crs_log__thumb">
							<img src="https://via.placeholder.com/1920x1200" class="img-fluid" alt="" />
						</div>
						<div class="crs_log__caption">
							<div class="rcs_log_123">
								<div class="rcs_ico"><i class="fas fa-user"></i></div>
							</div>
							
							<div class="rcs_log_124">
								<div class="Lpo09"><h4>Создать учетную запись</h4></div>
								<div class="form-group row mb-0">
									{% for field in form %}
										<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												{% if field.name == 'school' or field.name == 'edu_grade' or field.name == 'image' %}
													{{ field.label_tag }}
												{% endif %}
												{{ field }}
											</div>
										</div>
									{% endfor %}

								</div>
								<div class="form-group">
									<label>Пароль</label>
									<input type="password" name="password1" class="form-control" placeholder="*******" />
								</div>
								<div class="form-group">
									<label>Повторите пароль</label>
									<input type="password" name="password2" class="form-control" placeholder="*******" />
								</div>
								<div class="form-group">
									<button type="sumbit" class="btn full-width btn-md theme-bg text-white">Sign Up</button>
								</div>
							</div>
						</div>
						<div class="crs_log__footer d-flex justify-content-between">
							<div class="fhg_45"><p class="musrt"><a href="{% url 'sign_in' %}" class="theme-cl">У вас уже есть аккаунт?</a></p></div>
							<div class="fhg_45"><p class="musrt"><a href="forgot.html" class="text-danger">Забыли пароль?</a></p></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock content %}