<!DOCTYPE html>
<html lang="ru">
    {% load static %}
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="«DS» Цифровая школа" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %} | {{ user.school }}</title>
        <meta name="theme-color" content="#ffffff">
		<meta property="og:image" content="{% static 'images/logo/DS-logo-01.svg' %}">
		<link href="{% static 'images/favicon.svg' %}" rel="shortcut icon" type="image/x-icon">
		<link href="{% static 'css/fonts-stylesheet.css' %}" rel="stylesheet">
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		{% block link %}{% endblock link %}
    </head>
    <body>
        <div id="main-wrapper">
			<div class="header header-light">
				{% include 'base/header.html' %}
			</div>
			<div class="clearfix"></div>
			<!-- ============================ Dashboard: Dashboard Start ================================== -->
			<section class="gray pt-4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<div class="dashboard-navbar">
								<div class="d-user-avater">
									<img src="https://via.placeholder.com/500x500" class="img-fluid avater" alt="">
									<h4>{{ user.get_full_name }}</h4>
									<span>{{ user.status_v }}</span>
								</div>
								{% include 'base/navigation.html' %}
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12">
                            {% block content %}{% endblock content %}
                        </div>
					</div>
				</div>
			</section>
			<!-- ============================ Dashboard: Dashboard End ================================== -->
			{% include 'base/login-modal.html' %}
			{% include 'base/footer.html' %}
		</div>
        {% include 'base/script.html' %}
		<!-- Morris.js charts -->
		<script src="{% static 'js/raphael.min.js' %}"></script>
		<script src="{% static 'js/morris.min.js' %}"></script>
		<!-- Custom Morrisjs JavaScript -->
		<script src="{% static 'js/morris.js' %}"></script>
		{% block script %}{% endblock script %}
	</body>
</html>