{% load static %}
<footer class="dark-footer skin-dark-footer style-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-5 col-md-5">
                    <div class="footer_widget">
                        <img src="{% static 'images/logo/DS-logo-02.svg' %}" class="img-footer small mb-2" alt="" />
                        <h4 class="extream mb-3">Построй с нами цифровою школу!</h4>
                        <p>Получайте обновления, горячие предложения, учебные пособия, скидки, отправленные прямо в ваш почтовый ящик каждый месяц</p>
                        <div class="foot-news-last">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text theme-bg b-0 text-light">Подписаться</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-7 ml-auto">
                    {% comment %}                     
                    <div class="footer_widget" style="text-align: right;">
                        <h4 class="widget_title">Контакты</h4>
                        <ul class="footer-menu">
                            <li><a href="#">12232434534 <i class="fa fa-phone"></i></a></li>
                            <li><a href="#"> asdasd <i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-tell"></i></a></li>
                            <li><a href="#"><i class="fa fa-tell"></i></a></li>
                        </ul>
                    </div> 
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">© 2022 «DS» Цифровая школа</p>
                </div>
            </div>
        </div>
    </div>
</footer>
