{% load static %}
<!-- Log In Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
    <div class="modal-dialog modal-xl login-pop-form" role="document">
        <div class="modal-content overli" id="loginmodal">
            <div id="modal__page"></div>
            <div class="modal-header">
                <h5 class="modal-title">Войдите в свою учетную запись</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-errors text-center mt-2 px-2"></div>
            <div class="modal-body">
                <div class="login-form">
                    <form action="{% url 'auth_v' %}" method="POST" id="modal__sign__in">
                        <div class="rcs_log_124">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="support@elkitep.com" required/>
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control" placeholder="*******" required/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn full-width btn-md theme-bg text-white">Авторизоваться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="crs_log__footer d-flex justify-content-between mt-0">
                <div class="fhg_45"><p class="musrt"><a href="{% url 'sign_up_student' %}" class="theme-cl">У вас нет учетной записи?</a></p></div>
				<div class="fhg_45"><p class="musrt"><a href="forgot.html" class="text-danger">Забыли пароль?</a></p></div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>