<div class="d-navigation">
    <ul id="side-menu">
        <li class="active"><a href="dashboard.html"><i class="fas fa-th"></i>Лента</a></li>
        <li class="dropdown">
            <a href="javascript:void(0);"><i class="fas fa-user"></i>Ученики<span class="ti-angle-left"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="manage-students.html">Управление учениками</a></li>
                <li><a href="add-students.html">Добавить нового ученика</a></li>
            </ul>
        </li>
    </ul>
</div>