{% load static %}
<!-- ============================= All JS ================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script> 
<script src="{% static 'js/summernote.min.js' %}"></script>
<script src="{% static 'js/metisMenu.min.js' %}"></script>	
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/signin.js' %}"></script>
