{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}«DS» Цифровая школа{% endblock title %}

{% block description %}
<meta content="{% trans '«DS» Цифровая школа' %}"
      name="description">
<meta name="subject"
      content="{% trans ' «DS» Цифровая школа' %}">
{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block content %}
<!-- ============================ Начало баннера  ================================== -->
<div class="hero_banner image-cover image_bottom h4_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="simple-search-wrap text-left">
                    <div class="hero_search-2">
                        <h1 class="banner_title mb-4">«DS» Цифровая школа</h1>
                        <p class="font-lg mb-4">Открытие новых технологий в школьном образовании и модернизация
                            инфраструктуры и внедрение современных образовательных технологий.</p>
                        <div class="input-group simple_search">
                            <i class="fa fa-search ico"></i>
                            <input type="text" class="form-control" placeholder="Найдите свою школу">
                            <div class="input-group-append">
                                <button class="btn theme-bg" type="button">поиск</button>
                            </div>
                        </div>
                        <!--<div class="crs_trio_info">
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">72</span>K</h4>
                                <span class="pol_title">пользователи</span>
                            </div>
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">100</span></h4>
                                <span class="pol_title">работает</span>
                            </div>
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">5.2</span>K +</h4>
                                <span class="pol_title">Курсы</span>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="side_block">
                    <img src="{% static 'images/more/side-2.png' %}" class="img-fluid" alt="img"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Конец баннера ================================== -->

<!-- ================================ Награда ================================ -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>200+ Курсы</h6>
                                    <p>дополнительные курсы повышения квалификации .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>возможность в любое время</h6>
                                    <p>Вы можете прийти в любое время и решить свою проблему .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>800k+ Зарегистрированных</h6>
                                    <p>Более 800 человек зарегистрировались и использовали наши продукты .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ================================ Конец награда ================================ -->

<!-- ============================ Избранные категории Начало ================================== -->
<section class="min">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Исследуйте избранные <span class="theme-cl">Категории</span></h2>
                    <p>Вы должны выбрать то, что вы хотите здесь </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <!-- Single Category -->
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-code"></i></div>
                        <div class="crs_cate_caption"><span>Робототехника</span></div>
                        <div class="crs_cate_count"><span>Литература</span></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-window-restore"></i></div>
                        <div class="crs_cate_caption"><span>Искусство</span></div>
                        <div class="crs_cate_count"><span>Литература</span></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-leaf"></i></div>
                        <div class="crs_cate_caption"><span>Психология</span></div>
                        <div class="crs_cate_count"><span>Литература</span></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-heartbeat"></i></div>
                        <div class="crs_cate_caption"><span>Спорт и жизнь</span></div>
                        <div class="crs_cate_count"><span>литература</span></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-landmark"></i></div>
                        <div class="crs_cate_caption"><span>Экзамены</span></div>
                        <div class="crs_cate_count"><span>литература</span></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="crs_cate_wrap style_2">
                    <a href="#" class="crs_cate_box">
                        <div class="crs_cate_icon"><i class="fa fa-photo-video"></i></div>
                        <div class="crs_cate_caption"><span>Медиа</span></div>
                        <div class="crs_cate_count"><span>литература</span></div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Избранные категории Конец ================================== -->

<!-- ============================ Начало последних курсов ================================== -->
<section class="gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Найдите рекомендуемые <span class="theme-cl">Курсы</span></h2>
                    <p>список курсов, которые вам понадобятся</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Единая сетка -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="crs_grid">
                    <div class="crs_grid_thumb">
                        <a href="#" class="crs_detail_link">
                            <img src="https://via.placeholder.com/1200x800" class="img-fluid rounded" alt=""/>
                        </a>
                        <div class="crs_video_ico">
                            <i class="fa fa-play"></i>
                        </div>
                        <div class="crs_locked_ico">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="crs_grid_caption">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_cates"><span>Робототехника</span></div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="crs_price"><h2><span class="currency">$</span><span
                                        class="theme-cl">149</span></h2></div>
                            </div>
                        </div>
                        <div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">Прикладная наука,
                            занимающаяся разработкой автоматизированных технических систем.</a></h4></div>
                        <div class="crs_info_detail">
                            <ul>
                                <li><i class="fa fa-clock text-danger"></i><span>10 час 07 мин</span></li>
                                <li><i class="fa fa-video text-success"></i><span>Литература</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img
                                            src="https://via.placeholder.com/500x500" class="img-fluid circle" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul class="light">
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-user text-danger"></i></div>
                                            <div class="elsio_tx">4.7k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-eye text-success"></i></div>
                                            <div class="elsio_tx">42.4k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-star text-warning"></i></div>
                                            <div class="elsio_tx">4.7</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Единая сетка -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="crs_grid">
                    <div class="crs_grid_thumb">
                        <a href="#" class="crs_detail_link">
                            <img src="https://via.placeholder.com/1200x800" class="img-fluid rounded" alt=""/>
                        </a>
                        <div class="crs_video_ico">
                            <i class="fa fa-play"></i>
                        </div>
                        <div class="crs_locked_ico">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="crs_grid_caption">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_cates cl_3"><span>Математика</span></div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="crs_price"><h2><span class="currency">$</span><span
                                        class="theme-cl">129</span></h2></div>
                            </div>
                        </div>
                        <div class="crs_title"><h4><a href="#" class="crs_title_link">Это наука о формальных системах и
                            доказательствах. Она лежит в основе компьютерных наук, ведь любой язык программирования —
                            формальная система.</a></h4></div>
                        <div class="crs_info_detail">
                            <ul>
                                <li><i class="fa fa-clock text-danger"></i><span>04 час 07 мин</span></li>
                                <li><i class="fa fa-video text-success"></i><span>Литература</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="#"><img
                                            src="https://via.placeholder.com/500x500" class="img-fluid circle" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul class="light">
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-user text-danger"></i></div>
                                            <div class="elsio_tx">4.7k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-eye text-success"></i></div>
                                            <div class="elsio_tx">42.4k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-star text-warning"></i></div>
                                            <div class="elsio_tx">4.7</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Единая сетка -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="crs_grid">
                    <div class="crs_grid_thumb">
                        <a href="#" class="crs_detail_link">
                            <img src="https://via.placeholder.com/1200x800" class="img-fluid rounded" alt=""/>
                        </a>
                        <div class="crs_video_ico">
                            <i class="fa fa-play"></i>
                        </div>
                        <div class="crs_locked_ico">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="crs_grid_caption">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_cates cl_4"><span>Искусство</span></div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="crs_price"><h2><span class="currency">$</span><span
                                        class="theme-cl">99</span></h2></div>
                            </div>
                        </div>
                        <div class="crs_title"><h4><a href="#" class="crs_title_link">Практическая деятельность
                            человека, направленная на освоение и создание эстетических ценностей.</a></h4></div>
                        <div class="crs_info_detail">
                            <ul>
                                <li><i class="fa fa-clock text-danger"></i><span>07 час 10 мин</span></li>
                                <li><i class="fa fa-video text-success"></i><span>Литература</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="#"><img
                                            src="https://via.placeholder.com/500x500" class="img-fluid circle" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul class="light">
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-user text-danger"></i></div>
                                            <div class="elsio_tx">4.7k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-eye text-success"></i></div>
                                            <div class="elsio_tx">42.4k</div>
                                        </li>
                                        <li>
                                            <div class="elsio_ic"><i class="fa fa-star text-warning"></i></div>
                                            <div class="elsio_tx">4.7</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 mt-2">
                <div class="text-center"><a href="#" class="btn btn-md theme-bg-light theme-cl">Исследуйте больше
                    курсов</a></div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Последние курсы Конец ================================== -->

<!-- ============================ Начало рабочего процесса ================================== -->
<section class="imageblock">
    <div class="imageblock__content">
        <div class="background-image-holder" style="background: url(https://via.placeholder.com/1920x1200);">
            <img alt="image" src="https://via.placeholder.com/1920x1200">
        </div>
    </div>
    <div class="container">

        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                <div class="lmp_caption">
                    <h2 class="mb-3">У нас лучшие учители в школе</h2>
                    <p>По окончании этого курса у вас откроются новые знания</p>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
                                <i class="fas fa-check"></i>
                            </div>
                            <h6 class="mb-0 ml-3">Полный доступ в любое время</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
                                <i class="fas fa-check"></i>
                            </div>
                            <h6 class="mb-0 ml-3">загружаемые ресурсы</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
                                <i class="fas fa-check"></i>
                            </div>
                            <h6 class="mb-0 ml-3">Грамота</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
                                <i class="fas fa-check"></i>
                            </div>
                            <h6 class="mb-0 ml-3">Бесплатная пробная версия 7 дней</h6>
                        </div>
                    </div>
                    <div class="text-left mt-4"><a href="#" class="btn btn-md text-light theme-bg">Зачислен сегодня</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="imageblock pt-m-0">
    <div class="imageblock__content left">
        <div class="background-image-holder" style="background: url(https://via.placeholder.com/1920x1200);">
            <img alt="image" src="https://via.placeholder.com/1920x1200">
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                <div class="lmp_caption">
                    <ol class="list-unstyled p-0">
                        <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
                                <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-photo-video"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                                <h4>Легко научиться искусству</h4>
                                <p>
                                    Искусство — это то, что расцветает всего за секунду до того, как испарится навсегда
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
                                <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-edit"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                                <h4>Настроить в соответствии с вами</h4>
                                <p>
                                    Error sit voluptatem actium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
                                <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                            <div class="ml-3 ml-md-4">
                                <h4>Задавайте неограниченное количество вопросов</h4>
                                <p>
                                    Error sit voluptatem actium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
                                <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-thumbs-up"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                                <h4>100% удовлетворение</h4>
                                <p>
                                    Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                    rem aperiam, eaque ipsa.
                                </p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Окончание рабочего процесса ================================== -->

<!-- ============================ Наш учитель Старт ================================== -->
<section class="gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                    <h2>Наши лучшие <span class="theme-cl">Учители</span></h2>
                    <p>Учитель – это учитель, проводник, воспитатель, психолог, лидер будущего, учитель любви, уважения
                        и вечных ценностей. Учитель – это тот, кто обладает лучшими качествами</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="tutor-slide">

                    <!-- Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span>учитель кыргызская литература</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Жумакадырова
                                    Айнура</a></h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(244 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k Пользователи</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span>учитель математика</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Асылбееков Кемел</a>
                                </h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(24 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k Пользовател</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span>учитель информатика</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Кумарбек уулу
                                    Кутман</a></h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(244 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k пользователи</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span>Учитель истории</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Касымов Адилет</a>
                                </h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(244 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k пользователи</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span>учитель математика</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Сейиталиева
                                    Каныкей</a></h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(244 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k пользователи</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Отдельный предмет -->
                    <div class="lios_item">
                        <div class="crs_trt_grid shadow_none brd">
                            <div class="crs_trt_thumb">
                                <a href="instructor-detail.html" class="crs_trt_thum_link"><img
                                        src="https://via.placeholder.com/700x550" class="img-fluid" alt=""/></a>
                            </div>
                            <div class="crs_trt_caption large">
                                <div class="instructor_tag"><span> учитель робототехника</span></div>
                                <div class="instructor_title"><h4><a href="instructor-detail.html">Эстебес уулу
                                    Адилет</a></h4></div>
                                <div class="trt_rate_inf">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star-half filled"></i>
                                    <span class="alt_rates">(244 Отзывы)</span>
                                </div>
                            </div>
                            <div class="crs_trt_footer">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i> 2.5k пользователи</div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <div class="crs_linkview"><a href="course-detail.html"
                                                                         class="btn btn_view_detail theme-bg text-light">Зарегистрироваться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Наш учитель Конец ================================== -->
{% endblock content %}