{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}«DS» Цифровая школа{% endblock title %}

{% block description %}
<meta content="{% trans '«DS» Цифровая школа' %}"
      name="description">
<meta name="subject"
      content="{% trans ' «DS» Цифровая школа' %}">
{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block content %}
<!-- ============================ Начало баннера  ================================== -->
<div class="hero_banner image-cover image_bottom h4_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="simple-search-wrap text-left">
                    <div class="hero_search-2">
                        <h1 class="banner_title mb-4">«DS» Цифровая школа</h1>
                        <p class="font-lg mb-4">Открытие новых технологий в школьном образовании и модернизация
                            инфраструктуры и внедрение современных образовательных технологий.</p>
                        <div class="input-group simple_search">
                            <i class="fa fa-search ico"></i>
                            <input type="text" class="form-control" placeholder="Найдите свою школу">
                            <div class="input-group-append">
                                <button class="btn theme-bg" type="button">поиск</button>
                            </div>
                        </div>
                        <!--<div class="crs_trio_info">
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">72</span>K</h4>
                                <span class="pol_title">пользователи</span>
                            </div>
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">100</span></h4>
                                <span class="pol_title">работает</span>
                            </div>
                            <div class="crs_trio">
                                <h4 class="ctr"><span class="rt_count">5.2</span>K +</h4>
                                <span class="pol_title">Курсы</span>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="side_block">
                    <img src="{% static 'images/more/side-2.png' %}" class="img-fluid" alt="img"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Конец баннера ================================== -->

<!-- ================================ Награда ================================ -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>200+ Курсы</h6>
                                    <p>дополнительные курсы повышения квалификации .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>возможность в любое время</h6>
                                    <p>Вы можете прийти в любое время и решить свою проблему .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>800k+ Зарегистрированных</h6>
                                    <p>Более 800 человек зарегистрировались и использовали наши продукты .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ================================ Конец награда ================================ -->
{% endblock content %}